h3{
    font-size: 30px !important;
}

.btn-danger:hover{
    background-color: rgb(60, 255, 0);
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: rgb(150, 111, 14);
}
canvas{
    margin-top: 120px;
    animation-name: hello;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes hello{
from{box-shadow: 10px 10px 10px rgb(4, 0, 255);}
to{box-shadow: 10px 10px 10px rgb(255, 0, 0)}
}